.layout {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #121212;
  min-height: 100vh;
  color: #ddd;
}

.navbar {
  width: 100%;
  background: #222;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.back-link {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 5px;
  background: #444;
  transition: 0.2s ease-in-out;

  &:hover {
    background: #666;
  }
}

main {
  width: 100%;
  max-width: 900px;
  padding: 20px;
}
