.comments-container {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  margin-top: 15px;

  h4 {
    margin: 0;
    color: #444;
  }
}

.comments-list {
  list-style: none;
  padding: 0;
}

.comment-card {
  background: #f1f1f1;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

  strong {
    display: block;
    color: #222;
  }

  p {
    color: #555;
    margin: 5px 0 0;
  }
}
